<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Stay Healthy with us.</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        {{!-- <img src="images/about.png" alt="about image" /> --}}
                        <img src="https://prod-metropolisindia-bucket.s3.ap-south-1.amazonaws.com/images/compressed/about-1.jpg"
                            class="img-fluid">
                    </figure>
                </div>
                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">

                    <h1>We are the team of professionals</h1>

                    <h1>OUR TEAM</h1>
                    <p>“As one of the top pathology labs in India, well N care lab has a very strong focus on hiring
                        and retaining top quality manpower to drive our different departments within and outside the
                        labs. Despite our size, we maintain an environment that nurtures some of the top thinkers in
                        India in their respective fields of expertise.<span id="dots">...</span><span id="more">

                            We have a qualified team of pathology specialists, Also, there is a growing pool of
                            young
                            leadership from top institutions like AFMC, IIMs, IITs, XLRI, SP JAIN amongst others.”
                            </br>



                            We focus on providing patients quality diagnostic healthcare services in India. Through
                            our
                            network, we offer patients convenient locations for their diagnostic laboratory services
                            and
                            efficient service. With over all pathology tests and related healthcare tests and
                            services
                            offered, we believe we are capable of performing substantially all of the diagnostic
                            healthcare
                            tests and services currently prescribed by physicians in India. By delivering most
                            accurate
                            reports over the years, well N care lab has earned the reputation of being amongst the
                            most
                            trustworthy and reliable pathology labs in India.</span></p>

                    <button class="btn-style btn-primary" onclick="myFunction()" id="myBtn">Read more</button>

                </div>


            </div>
        </div>
    </div>
</div>