<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">

            <div class="row">

                <div class="greenband text-center  col-md-12" style="margin: 0px 0px 20px 0px !important;">
                    Well N Care Assurance
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">

                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/img/met.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>8 Stage MET Protocol</b></div>
                            </div>
                        </div>

                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/img/scientific.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>Scientific Testing</b></div>
                            </div>
                        </div>


                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/img/testing.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>Proficiency Testing for Accurate Reports</b></div>
                            </div>
                        </div>

                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/img/nabl.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>Certified CAP & NABL Labs</b></div>
                            </div>
                        </div>

                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/img/4000-tests.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>Wide Range of 4000+ tests & profiles</b></div>
                            </div>
                        </div>

                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/img/team-of.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>Highly qualified phlebotomists for blood test@Home</b>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="col-md-2"></div>
                <div style="clear:both;"></div>

                <div class='greenband text-center  col-md-12' style="margin: 0px 0px 20px 0px !important;">
                    Well N Care Expertise
                </div>


                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">

                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/images/Metropolis-Assurance-1.png">
                                </div>
                                <div class="col-md-8 di_st4"><b> Advanced Lab</b></div>
                            </div>
                        </div>

                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/images/Metropolis-Assurance-2.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>Trusted by Leading Doctors & Hospitals</b></div>
                            </div>
                        </div>


                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/images/Metropolis-Assurance-3.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>Over 50+ Scientific Officers</b></div>
                            </div>
                        </div>

                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/images/Metropolis-Assurance-4.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>Accurate & Reliable Reports with Trend Analysis</b>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/images/Metropolis-Assurance-5.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>Painless Blood Collection @ Home</b></div>
                            </div>
                        </div>

                        <div class="col-md-6 di_st1">
                            <div class="row vertical-align">
                                <div class="col-md-4"><img
                                        src="https://wellness.metropolisindia.com/wp-content/themes/mett/images/Metropolis-Assurance-6.png">
                                </div>
                                <div class="col-md-8 di_st4"><b>2000+ Patient Touch Points</b>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="col-md-2"></div>
                <div style="clear:both;"></div><br><br>








            </div>
        </div>
    </div>
</div>