<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div
                    class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">

                    <h1>We will help you to</h1>
                    <h1>stay Healthy</h1>
                    <p>We are the team of <span class="bold-style">pathology specialists</span></p>
                    <button class="btn-style btn-primary">Read more</button>


                </div>
                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                    <figure>
                        <img src="images/home.jpg" alt="home image" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>