<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">Researching and educating to save lives.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://d2qhgd0topi90o.cloudfront.net/website/images/CBC.png" alt="cbc">
                            </div>
                            <h4>Full Blood Examination</h4>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="https://d2qhgd0topi90o.cloudfront.net/website/images/building-icon.png"
                                    alt="cbc">
                            </div>
                            <h4>Free Home Collection
                                & Cancellation</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="https://d2qhgd0topi90o.cloudfront.net/website/images/onlineicon.png"
                                    alt="cbc">
                            </div>

                            <h4>Online Access
                                to Reports</h4>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>